<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamicExpresso.Core" version="2.3.3" targetFramework="net461" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net45" />
  <package id="EntityFramework.zh-Hans" version="6.1.3" targetFramework="net45" />
  <package id="FluentFTP" version="19.1.2" targetFramework="net45" />
  <package id="Magicodes.EPPlus" version="4.6.3" targetFramework="net461" />
  <package id="Magicodes.IE.Core" version="2.5.3.8" targetFramework="net461" />
  <package id="Magicodes.IE.Excel" version="2.5.3.8" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="runtime.osx.10.10-x64.CoreCompat.System.Drawing" version="5.8.64" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net461" />
  <package id="System.IO" version="4.3.0" targetFramework="net461" />
  <package id="System.Linq.Dynamic.Core" version="1.2.6" targetFramework="net461" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.Loader" version="4.3.0" targetFramework="net461" />
</packages>